{% extends "base.html" %}

{% block title %}
THE REPORT
{% endblock %}

{% block table %}

<table class="table table-hover table-light">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Driver name</th>
          <th scope="col">Team</th>
          <th scope="col">Best loop time</th>
        </tr>
    </thead>
  <tbody>

{% for record in db %}
{% if record.position == "*** ERROR" %}
        <tr style="color: red">
{% elif record.id == 1%}
        <tr class="bg-success" style="color: white">
{% elif record.id == 2 %}
        <tr class="bg-primary" style="color: white">
{% elif record.id == 3 %}
        <tr class="bg-warning">
{% else %}
        <tr>
{% endif %}
          <th scope="row">{{record.position}}</th>
          <td>{{record.name}}</td>
          <td>{{record.team}}</td>
          <td>{{record.time}}</td>
        </tr>
{% endfor %}
</tr></tbody></table>
{% endblock %}    
  